<div class="navbar">
  <div class="navbar-inner">
    <%= link_to "My Daily schedule" , root_path, :class => "brand" %>
      <ul class="nav">
         <li><%= link_to "Contact us", contact_users_path %></li>
      </ul>
  </div>
</div>
